<%- include('header') -%>
<a href="/pokemon"><button>Back</button> </a>

<h1><%=pokemon.name%></h1>
<p> <%= pokemon.type%></p>
<img src="<%=pokemon.img%>" width='100px' alt="pokemon image">
<h2>Stats:</h2>
<% for (const stat in pokemon.stats){ %> 
  <p>
<%= `${stat}: ${pokemon.stats[stat]}` %>
  </p>
  
 <% }%>

<%- include('footer') -%>